<title>All</title>
{% block content %}
        <form action="/"><button type="submit">Main</button> </form>

    {% if object_list %}
        <form action="/create/"><button type="submit">Create book</button></form>
        {% for i in object_list %}
            <table border="2" bordercolor="black" bgcolor="white" width="300"> <!-- New table in every loop is correct -->
                <tr><td style="width:300px">Publisher's name: <a href="/detail-publisher/{{ i.id }}">{{ i.name }}</td></tr>
            </table>
        {% endfor %}

    {% else %}
        <h1>There are not any objects, add some.</h1>
        <form action="/create/"><button type="submit">Create book</button></form>
    {% endif %}
    {% include "cb_hw/pagination.html"%}
{% endblock %}